@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

nav a {
    color:#FAC14B;
    text-decoration: none;
    padding: 1px;
    font-size: 25pt;
    position: relative;
}

nav a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #FAC14B;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav a:hover::after {
    width: 100%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
    color: #FAC14B;
}

#logo {
    width: 150px;
    height: auto;
}


h2 {
    color:#fff;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-top: 100px;
    
}

span {
    color:#FAC14B; 
    
    
}
sextion.formulario {
    padding: 80px 4%;   
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color:#242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    font-family:'Poppins', sans-serif;
}

form textarea{
    resize: none;
    height: 140px;
    width: 100%;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color:#FAC14B;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

button:hover,form .btn-enviar input:hover {
    box-shadow: 0px 0p 8px #FAC14B;
    transform: scale(1.05);
}

.border{
    border: solid 1px #FAC14B;
}

footer {
    height: 300px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span-1 {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-top: 40px;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}


@media(max-width: 768px) {
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;

    }
}


